@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;  
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #F5F7F8;
    text-decoration: none;
    font-size: 14px;
}
.contact-header {
    background: url(../img/cameron-witney-xEZaZ577Q-Q-unsplash_contact_cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 60px 20px;
    text-align: center;
}

.hedarSection h1{
    font-weight: 800;
    color: #F5F7F8;
    font-style: italic;
}

.hedarSection p{
    font-size: 18px;
    font-weight: 600;
}

.contactSection .header{
    color:#379777;
    font-weight: 700;
    font-size: 45px;
    text-align: center;
}

.contactSection p{
    color: #45474B;
    font-weight: 600;
    font-size: 18px;
    font-style: oblique;
}

.contactSection .info{
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content:center;
    gap: 10px;
    border-radius: 50%;
    /* background: linear-gradient(to right, rgba(69, 71, 75, 0.2), rgba(55, 151, 119, 0.2)); */
    background: linear-gradient(to right, rgba(69, 71, 75, 0.1), rgba(244, 206, 20, 0.1));


}

.contactSection li{
    color: #45474B;
    font-weight: 700;
    font-size: 18px;
}

.contactSection strong{
    color: #379777;
    font-size: 20px;
    font-weight: 500;
}

.contact-section {
    padding: 60px 20px;
}

.contactSection label{
    color: #45474B;
    font-weight: 600;
}

.contactSection input{
    color: #379777;
}

.contactSection textarea{
    color: #379777 !important;
}

.contactSection button{
    background-color: #45474B;
    color: #F5F7F8;
    padding: 13px;
}

.contactSection button:hover{
    background-color: #c5a91a;
    color: #F5F7F8;
}

.form-control, .btn {
    border-radius: 10px;
}
