@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;   
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #F5F7F8;
    text-decoration: none;
    font-size: 14px;
}

.banner{
    background-color: #45474B !important;
}

.banner img{
    height: 550px;
}

 .banner .carousel-caption p,
 .banner .carousel-caption h5,
 .banner .carousel-caption,
 .banner .carousel-indicators,
 .banner .carousel-control-prev-icon,
 .banner .carousel-control-next-icon{
    background: transparent;
}

.headSection{
   background-color: #F5F7F8;
   /* box-shadow: 4px 4px 10px rgba(55, 151, 119, 0.5), 
            -4px -4px 10px rgba(244, 206, 20, 0.5); */
}

.headSection h1{
    font-weight: 600;
    color: #45474B;
}

.headSection .headding{
    font-size: 55px;
    text-transform: uppercase;
    color: #379777;
    font-weight: 700;
}

.headSection .country{
    font-size: 38px;
    font-weight: 800;
}

.headSection p{
    font-size: 20px;
}

.goalSection {
    background-color: #F5F7F8;
    /* box-shadow: 4px 4px 10px rgba(55, 151, 119, 0.5), 
             -4px -4px 10px rgba(244, 206, 20, 0.5); */
}

.goalSection .heading{
    font-size: 55px;
    text-transform: uppercase;
    color: #379777;
    font-weight: 700;
}

.goalSection p{
    font-size: 20px;
}

.image_box{
    background-color: #45474B;
    border-radius: 15px;
    border-top: 5px solid #F4CE14;
    border-bottom: 5px solid #F4CE14;
    border-right: 6px solid #379777;
    border-left: 6px solid #379777;
}

.videoSection{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 50px;
}

.videoSection .video_heading{
    font-size: 55px;
    text-transform: uppercase;
    color: #379777;
    font-weight: 700;
}
/* services */

.section_our_solution .row {
    align-items: center;
}

.our_solution_category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.our_solution_category .solution_cards_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.solution_cards_box .solution_card {
    flex: 0 50%;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
        0 5px 15px 0 rgba(37, 44, 97, 0.15);
    border-radius: 15px;
    margin: 8px;
    padding: 10px 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    min-height: 265px;
    transition: 0.7s;
}

/* Hover effects */
.solution_cards_box .solution_card:hover {
    background: #379777; /* Green */
    color: #fff;
    transform: scale(1.1);
    z-index: 9;
}

.solution_cards_box .solution_card:hover::before {
    background: #F4CE14; /* Yellow */
}

.solution_cards_box .solution_card:hover .solu_title h3,
.solution_cards_box .solution_card:hover .solu_description p {
    color: #fff;
}

.solution_cards_box .solution_card:before {
    content: "";
    position: absolute;
    background: rgb(85 108 214 / 5%);
    width: 170px;
    height: 400px;
    z-index: -1;
    transform: rotate(42deg);
    right: -56px;
    top: -23px;
    border-radius: 35px;
}

.solution_cards_box .solution_card:hover .solu_description button {
    background: #F4CE14 !important; /* Yellow */
    color: #379777; /* Green */
}

/* Card title and description */
.solution_card .solu_title h3 {
    color: #212121;
    font-size: 1.3rem;
    margin-top: 13px;
    margin-bottom: 13px;
}

.solution_card .solu_description p {
    font-size: 15px;
    margin-bottom: 15px;
}

/* Buttons */
.solution_card .solu_description button {
    border: 0;
    border-radius: 15px;
    background: linear-gradient(
        140deg,
        #379777 0%,  /* Green */
        #379777 50%,
        #379777c7 75%
    ) !important;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    padding: 5px 16px;
}

/* Heading styles */
.our_solution_content h1 {
    text-transform: capitalize;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

/* Hover background effect */
.hover_color_bubble {
    position: absolute;
    background: rgb(54 81 207 / 15%);
    width: 100rem;
    height: 100rem;
    left: 0;
    right: 0;
    z-index: -1;
    top: 16rem;
    border-radius: 50%;
    transform: rotate(-36deg);
    left: -18rem;
    transition: 0.7s;
}

.solution_cards_box .solution_card:hover .hover_color_bubble {
    background: #F4CE14; /* Yellow */
    top: 0rem;
}

/* Top icon */
.solution_cards_box .solution_card .so_top_icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.solution_cards_box .solution_card .so_top_icon img {
    width: 40px;
    height: 50px;
    object-fit: contain;
}

/* Responsive Design */
@media screen and (min-width: 320px) {
    .sol_card_top_3 {
        position: relative;
        top: 0;
    }

    .our_solution_category {
        width: 100%;
        margin: 0 auto;
    }

    .our_solution_category .solution_cards_box {
        flex: auto;
    }
}

@media only screen and (min-width: 768px) {
    .our_solution_category .solution_cards_box {
        flex: 1;
    }
}

@media only screen and (min-width: 1024px) {
    .sol_card_top_3 {
        position: relative;
        top: -3rem;
    }

    .our_solution_category {
        width: 50%;
        margin: 0 auto;
    }
}



/* https://colorhunt.co/palette/f5f7f8f4ce1437977745474b */