*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    background-color: #F5F7F8;
}

nav{
    padding: 0px 10px;
    background-color: #118B50;
}

nav .back{
    background-color: #118B50;
    padding: 5px;

}

.logo{
    width: 60px;
}

.banner img{
    height: 550px;
}

 .banner .carousel-caption p,
 .banner .carousel-caption h5,
 .banner .carousel-caption,
 .banner .carousel-indicators,
 .banner .carousel-control-prev-icon,
 .banner .carousel-control-next-icon{
    background: transparent;
}

